// Código de Nav acá

.nav {
    position: fixed;
    width: 100%;
    background-color: #b5b5b569;
    color: @ebony-clay;
    .flex-box(column);
    .border();

    .header__text {
        font-size: @font-large;
        padding: @padding-large;
    }

    ul {
        .flex-box(row);
        margin-bottom: 10px;
    }

    li a {
        text-decoration: none;
        color: @color-black;
        font-size: @font-medium;
        padding: @padding-small;
    }

    @media @phone {
        .header__text {
            font-size: @font-large-ph;
            padding: @padding-large-ph;
        } 

        li a {
            font-size: @font-medium-ph;
            padding: @padding-small-ph;
        }
    }

}




/*
.btn {
    .botones(rgb(29, 29, 94);"Ubuntu",sans-serif;white);
}
*/


